<h2><%= @cocktail.name %></h2>
<%= cl_image_tag(@cocktail.photo,
      width: 300, height: 300, crop: :fill) %> <br>
<%= link_to "Edit this cocktail", edit_cocktail_path %>

<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item">
      <h3 style="display: inline-block; padding-right: 30px;"> <%= dose.ingredient.name %> :  <%= dose.description %> </h3>
       <%= link_to "delete this dose", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure you want to delete this dose?"} %>
    </li>
  <% end %>
</ul>
<%= link_to "add new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>
